.boardArticle table{ 
    width:70%;
    border-collapse: collapse;     
}

/*글목록*/
#list th{
    padding:5px 0;  border: 1px solid #777;
    border-top:2px solid #777;
}
#list td {
    padding: 8px 0; border:1px solid #777;
}
#list .no{width:60px; text-align: center}
#list .subject{}
#list .author{ width:100px; text-align: center}
#list .date{ width:100px; text-align:center}
#list .hit{ width: 40px; text-align:center}
#list .btnSet{width:70%; text-align:right}

#list .paging { text-align: center; width:70%;}
#list .paging li{display:inline-block; height:20px; margin:0 5px; border:1px solid #777; background:#eee; line-height:21px; }

#list .paging li.currentPage, li:hover{background: #777;}
#list .paging li.currentPage, li:hover a{color: #ccc;}

#list .search{text-align: center; width:70%;}

@media screen and (max-width:414px){
 .boardArticle table{ 
    width:100%;
    border-collapse: collapse;     
 }
  #list  thead{display:none;}
  
  #list tr, td{display:block; padding:0;}
  
  #list td:nth-child(1):before{content: "번호: "}
  #list td:nth-child(2):before{content: "제목"}
  #list td:nth-child(3):before{content: "작성자:"}
  #list td:nth-child(4):before{content: "일자:"}
  #list td:nth-child(5):before{content: "조회:"}
  
  #list td:nth-child(1):before, td:nth-child(2):before {
      position:absolute;
      left:1em;
  }
  
  #list tr {
      position: relative;
  }
  
  #list td:nth-child(1),#list td:nth-child(2){
      padding-left:12%;
      width:100%;
      text-align:left;
      font-size: 0.8em;
  }
  #list td:nth-child(3), td:nth-child(4), td:nth-child(5){
      font-size:0.8em;
  } 
 
  #list .author{
      border:none;
      position:absolute;
      left:70px;
      top:0
  }
  
  #list .date{
      border:none;
      position:absolute;
      left:170px;
      top:0;
      text-align:left;
      width:130px;
  }
  
  #list .hit{
      border:none;
      position:absolute;
      top:0;
      right:0;
      text-align:left;
      width:70px;
  }
  
  #list .search{text-align: center; width:100%;}
  #list .paging { text-align: center; width:100%;}
  #list .btnSet{width:100%; text-align:center}
}


/*글쓰기*/
#write table{width:720px; }
#write th{width:15%; padding:5px; text-align: right; vertical-align: top; }
#write td{width:85%; padding:5px;}

#write #ID{width:20%;}
#write #password{width:20%;}
#write #subject{width:50%;}
#write #content{width:50%; height:200px}

#write .btnSet{ width:70%; text-align: center}

/*글보기*/
#boardView #bSubject {
    width:70%;  
    font-size: 18px;
    font-weight: bold;
    background: mediumspringgreen;
    line-height:30px;
    text-align: center;
    padding:5px 10px;
}
#boardView #bInfo{width: 70%; margin: 10px 0px;
                  border:1px solid #666;
                  padding:10px 10px;
                  position:relative;
}
#bInfo #ID, #bDate{
    margin-right:20px;
}
#bInfo #bHit{
    position:absolute;
    right:0;
    padding-right:10px;
}
#boardView #bContent{margin: 10px 0;}

.btnSet{width:70%; text-align: center;}


/* 글삭제 */
#boardDelete table {border:1px solid #666; width:70%; margin-bottom: 10px;}
#boardDelete tbody th{width:100px; padding:5px;text-align: right; vertical-align: top}
.btnSet { width:70%; text-align: center;}

/*댓글*/
#comment{width:70%;}
#comment table {margin:10px;width:90%}
#comment table th {width:100px; padding:0 5px; text-align: right; vertical-align: middle}
#comment table tr {padding:5px; text-align: left;}

#comment #cContent{width:90%; height:100px;}
#comment .btnSet{width:90%}

#commentView ul{list-style:none; margin:0; padding:0;}

#commentView .oneDepth{margin:10px 0; padding:10px; border:1px solid #666;}	
#commentView .twoDepth{margin: 20px; padding: 10px; border:1px solid #666;}

#commentView .comment_info{overflow:hidden;}
#commentView .commentID{ float:left}
#commentView .commentBtn{float:right}
#commentView .commentContent{clear:both;}
