html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a{
	text-decoration: none;
	color: black;
}

.boardArticle table {
	width: 70%;
	border-collapse: collapse;
	border-top: 2px solid #777;
}

/*  list  */
#list th {
	padding: 5px 0;
	border: 1px solid #777;
	border-top: 2px solid #777;

}
#list td {padding: 8px 0; border: 1px solid #777;}
#list .no {width: 60px; text-align: center;}
#list .author {width: 100px; text-align: center;}
#list .date {width: 100px;text-align: center;}
#list .hit {width: 40px; text-align: center;}
#list .btnSet {width: 70%; text-align: right;}

/* 페이징 */
#list .paging {text-align: center; width: 70%;}
#list .paging li {
	display: inline-block;
	height: 20px;
	margin: 0 5px;
	border: 1px solid #777;
	background: #eee;
	line-height: 21px;
}
#list .paging .currentPage, li:hover {
	background: #777;
}
#list .paging .currentPage, li:hover a {
	color: #ccc;
}

/* 검색 */
#list .search{text-align: center; width: 70%;}

/* 글쓰기 */
#write table {width: 720px;}
#write th {width: 15%; padding: 5px; text-align: right; vertical-align: top;}
#write td {width: 85%; padding: 5px;}
#write #ID {width: 20%;}
#write #password {width: 20%;}
#write #subject {width: 50%;}
#write #content {width: 50%; height: 200px;}
#write .btnSet{width: 70%; text-align: center;}

/* 글보기 */

#boardView #bSubject {
	width: 70%;
	background: mediumaquamarine;
	font-size: 26px;
	font-weight: bold;
	line-height: 30px;
	text-align: center;
	padding: 3px 10px;
}
#boardView #bInfo {
	position: relative;
	width: 70%;
	border: 1px solid #666;
	padding: 0 10px;
	margin: 10px 0px;
}
#bInfo #ID, #bDate {
	margin-right: 20px;
}
#boardView #bContent {margin: 10px 0;}
#bInfo #bHit {
	position: absolute;
	right: 0;
	padding-right: 10px;
}
.btnSet {width: 70%; text-align: center;}

/* 삭제 */
#boardDelete table {width: 70%; border: 1px solid #666; margin-bottom: 10px;}
#boardDelete tbody th {width: 100px; padding: 5px; text-align: right; vertical-align: top;}
.btnSet {width: 70%; text-align: center;}